<br><br>
 <br>
<div class="container">
<h5 class="note note-info text-left">
  <div class="page-header">
   <h1>About</h1>
  </div>
  <h3><li>Terms of Service</li></h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     The pool can't compensate any irreversible losses, but will do their best to prevent worst case scenarios.<br/>
	  </p>
	 <h3><li>Our Pool</li></h3>
	 <p>"PROP" aka Proportional is the simplest reward system.<br>Rewards come from "rounds" – the time between one block found by the pool and the next.<br>You are rewarded for the shares you submit in proportion to all shares submitted during each round.<br>

For example, if the shares you submit during a round account for 50% of the total shares, then your reward is 50% of the block reward.
</p>
<h3><li>Our Team</li></h3>
	 <p>
	 <b>Discord Admin</b> - Sneakybrit <br>
	 <b>Discord Moderator</b> - Lil Stanky <br>
	 <b>Programmer/Support</b> - def <br>
	 <b>Designer/Support</b> - KJ <br>
	 
	  
</p>
	 <br>
	 <br>
	   Join our <a href="https://discord.com/invite/ZuKnWgq722" rel="nofollow" target="_blank">Discord</a> channel for support or to report bugs.
 
  <h3></h3><br><br>
  <p>
    <ul>
  
    </ul>
  </p>
</h5></div>
