<div class="container">
  <div class="page-header">
    <h1>Stats API Temporarily Down</h1>
    <p>Please join our Discord channel and alert a Moderator or Admin. <a href="https://discord.com/invite/ZuKnWgq722" rel="nofollow" target="_blank">Join Our Discord</a></p>
	<p>Mining is not effected.</p>
  </div>
</div>
