<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>

 <span class="label label-success">Windows</span> 
  <p class="lead">Grab a copy of <a href="https://bitcointalk.org/index.php?topic=1433925.0" re="nofollow" target="_blank">Claymore miner</a>.</p>
    <h4 class="note note-info text-center">EthDcrMiner64.exe -epool stratum+tcp://etho.mine2.live:8008 -ewal 0x5af998f979342d506886e87b9787a80fbbf88706 -eworker Rig1 -epsw x -allcoins 1 -allpools 1</h4>
  <p class="lead">Grab a copy of <a href="https://bitcointalk.org/index.php?topic=2647654.0" re="nofollow" target="_blank">Phoenix miner</a></p>
  <h4 class="note note-info text-center">PhoenixMiner.exe -pool etho.mine2.live:8008 -worker WorkerName -wal 0x5af998f979342d506886e87b9787a80fbbf88706 -pass x -retrydelay 5</h4>  
	<h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
  </p>
</div>
